<launch>

  <node pkg="rosserial_python" type="serial_node.py" name="$(anon foo)">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>

  <rosparam file="$(find auv_mission_control)/cfg/pid.yaml" />

  <node pkg="auv_mission_control" type="state_machine_node" name="$(anon state_machine_node)" output="screen">
  </node>

  <include file="$(find auv_thruster_control)/launch/thruster_control_pid.launch" />


  <include file="$(find imu_vn_100)/launch/imu.launch" />


</launch>
